@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'angelina';
	src: url('../fonts/angelina.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.angelina{
	font-family:angelina;
	font-size: 20px;
	text-align: center;
}
.arial{
	font-family:Arial;
        font-size: 17px;
        text-align: center;
}
