/* Iphone 4 */
@media screen and (device-width: 320px) and (device-height: 480px) {
.credit-pop-view .has-header {
    font-size: 15px;
    top: 10%;
}
ion-popover-view.credit-pop-view button img {
    height: 55px;
padding-top: 0;
}
ion-popover-view.credit-pop-view button {
padding-top: 0;
}
.credit-header img {
    margin-top: 3%;
}
.credit-header {
    margin-top: -2%;
}
.survay-form label {
    padding: 1% 0 1px 4%;
}
ion-popover-view.credit-pop-view {
    height: 81% !important;
}
.congratulations-center > div, .congratulations-botom > div {
    padding: 3% 5%;
}
        .character-slider .slider {
        	margin-top: 20%;
        }
.Character {
    height: 90px;
   /* margin-top: 6%;*/
}
	.character_div {
    
    top: 20%;
}
	.survay-center-even {
    padding: 3% 2% 0% 50%;
}
	.character-div-odd {
   
    top: 0%;
}
	.character-div-even {
   
    top: 51%;
}
	.character-img-odd {
    margin-top: 21%;
}
.character-img-even {
    margin-top: 20%;
}
	
	.character-img {
    margin-top: 5%;
}
	.main-survay-2 {
    background-position: 53% 84%;
}
	.main-survay-4 {
    background-position: 53% 62.0%;
}
	.main-survay-6 {
    background-position: 53% 43.5%;
}
.main-survay-8 {
    background-position: 53% 22.5%;
}
	.intro-center > div {
		background: none repeat scroll 0 0 #fff;
		border-radius: 10px;
		font-size: 17px;
		line-height: 1.3;
		padding: 10px;
	}
	.introsur-center > div {
		font-size: 15px;
		padding: 5px;
	}
	.callout.bottom::before {
		top: -103%;
	}
	.introsur-center {
		padding: 70% 10% 0;
	}
	.insure-callout.callout.bottom:before {
		//top: -39%;
		top: -30%;
	}
	div.callout {
		min-height: 30px;
	}
	.introsur-center .insure-callout.callout.bottom:before {
		border-bottom: 45px solid #fff;
	}
	.introsur-center .callout-rotate:before {
		transform: rotate(20deg);
		-webkit-transform: rotate(20deg);
		-moz-transform: rotate(20deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); 
	}
	.instruct-pop-view {
		height: 70% !important;
	}

	.credit-footer{
		height: 50px;
	}
	.surbef .callout.bottom:before {
		border-bottom: 45px solid #fff;
	}
	.bar.survay-head h1 {
		//padding-top: 7%;
	}
	.congratulations-center {
		margin-bottom: 1%;
		margin-top: 20%;
	}
	.congratulations-botom {
		margin-bottom: 0;
	}
	.congratulations-survay{
	   margin-top: 0 !important;
       
	}
.background-8 .owl-even {
    margin-top: 11%;
}
.background-10 .character-img-even {
    margin-top: 14%;
}
.survay-center > div {
    padding: 10px;
}
}

/* Iphone 5 */
@media screen and (device-width: 320px) and (device-height: 568px) {
ion-popover-view.credit-pop-view {
    height: 80% !important;
}


.col-onset-8 {
    margin-right: 3%;
}
.col-offset-7 {
    margin-left: 3%;
}
	.intro-center {
    	margin-top: 25%;
    	padding: 4% 9%;
	}
	.character-slider .slider {
    	margin-top: 35%;
	}
	.credit-pop-view .has-header {
    	font-size: 19px;
	}
	.credit-mind {
    	//height: 120px;
	}
	.credit-dys {
    	//height: 85px;
	}
	.intro-center > div {
    	//font-size: 20px;
	}
	.character {
    	top: 73%;
    }
    .introsur-center {
    	padding: 85% 10% 0;
    }
    .insure-callout.callout.bottom:before {
    	top: -38%;
    }
	.instruct-pop-view {
	   height: 59% !important;
	}
	.character-div {
    	top: 3%;
	}
	.character_div {
    	top: 30%;
	}
	.character-div-odd {
    	top: 10%;
	}
	.character-div-even {
    	top: 38%;
	}
	.character-img , .Character {
    	margin-top: 10%;
	}
	.owl-even {
    	margin-top: 9%;
	}
	.survay-center-even {
    	padding: 25% 2% 0% 50%;
	}
	.survay-center-last {
    	padding: 13% 50% 0 2%;
	}
	.character-img-even {
    	margin-top: 25%;
	}
	.owl-odd {
    	margin-top: 10%;
	}
	.bar.survay-head {
		padding-top: 3%; 
	}
	.survay-head button.button {
    		padding-top: 2%;
	}
	.bar.survay-head h1 {
		//padding-top: 8%; 
	}
	.survay-head a img {
	    margin-top: -1%;
	}
	.survay-center-odd {
    	padding: 10% 50% 38% 2%;
	}
	.survay-center-first {
    	padding: 20% 50% 0 3%;
	}
	.survay-form label {
    	padding: 1% 0 1% 4%;
	}
	.character-img-odd {
    	margin-top: 24%;
	}
	.character-img-last {
    	margin-top: 37%;
	}
	.congratulations-center {
		font-size: 20px;
    	margin-bottom: 5%;
    	margin-top: 40%;
	}
	.congratulations-botom {
    	margin-bottom: 3%;
	}
.background-4 .character-div-even {
    top: 29%;
}
	.background-5 .Character {
    	margin-top: 25%;
	}
.background-6 .character-div-even {
    top: 35%;
}
.background-6 .character-img-even {
    margin-top: 22%;
}
	.background-7 .Character {
    	margin-top: 25%;
	}
.background-8 .character-div-even {
    top: 47%;
}
.background-8 .character-img-even {
    margin-top: 23%;
}
.background-10 .character-div-even {
    top: 27%;
}
	.background-10 .owl-even {
    	margin-top: 15%;
	}
	.background-10 .character-img-even {
    	margin-top: 15%;
	}
.background-11 .character-img-odd {
    margin-top: 31%;
}
.background-11 .owl-odd {
    margin-top: 2%;
}
.congratulations-center > div, .congratulations-botom > div {
    font-size: 15px;
}
.background-10 .survay-center > div {
    padding: 10px;
}
}
/* Iphone 6 */
@media screen and (device-width: 375px) and (device-height: 667px) {
	.intro-center {
    	margin-top: 23%;
	}
	ion-popover-view.credit-pop-view {
    	//height: 60% !important;
	height: 70% !important;
	}
	ion-popover-view.instruct-pop-view {
    		height: 50% !important;
	}
ion-popover-view.review-slide
{
    		height: 60% !important;
}
	.survay-head button.button {
    		padding-top: 2%;
	}
	.survay-head a img {
	    margin-top: -1%;
	}
	.bar.survay-head h1 {
		//padding-top: 7%;
	}
	.character-slider .slider {
    	margin-top: 35%;
	}
	.character {
    	top: 75%;
	}
	.character-div {
    	top: 85px;
	}
	.character_div {
    	top: 35%;
	}
	.character-div-even {
    	top: 45%;
	}
	.character-div-odd {
    		top: 25%;
	}
	.character-img , .Character {
    	margin-top: 15%;
	}
	.owl-even {
    	margin-top: 6%;
	}
	.survay-center-first {
    	padding: 24% 50% 0 3%;
	}
	.survay-center-even {
    	padding: 30% 2% 0% 50%;
	}
	.survay-center-last {
    	padding: 21% 50% 0 2%;
	}
	.character-img-even {
    		margin-top: 28%;
	}
	.owl-odd {
    	margin-top: 10%;
	}
	.survay-center-odd {
    	padding: 18% 50% 0% 2%;
	}
	.character-img-odd {
    	margin-top: 37%;
	}
	.character-img-last {
    	margin-top: 45%;
	}
	.congratulations-center {
    	margin-bottom: 10%;
    	margin-top: 40%;
	}
	.congratulations-botom {
    	margin-bottom: 5%;
	}
	.introsur-center {
    	padding: 90% 10% 20%;
	}
	.insure-callout.callout.bottom:before {
    	top: -43%;
	}
	.survay-form label {
    	padding: 1.5% 0 1.5% 4%;
	}
.background-3 .character-img-odd {
    margin-top: 32%;
}
.background-4 .character-div-even {
    top: 40%;
}
        .background-5 .character-div-odd {
        	top: 16%;
        }
.background-5 .character-img-odd {
    margin-top: 30%;
}

        .background-7 .character-img-odd {
        	margin-top: 27%;
        }
.character-div-odd {
    top: 18%;
}
.background-8 .character-div-even {
    top: 50%;
}
.background-9 .character-img-odd {
    margin-top: 25%;
}
.background-9 .character-div-odd {
    top: 22%;
}
.background-10 .character-img-even {
    margin-top: 18%;
}
.background-11 .character-img-odd {
    margin-top: 26%;
}
.background-12 .character-img-last {
    margin-top: 40%;
}
}

/* Iphone 6 plus*/
@media screen and (device-width: 414px) and (device-height: 736px) {
	.intro-center {
    	margin-top: 23%;
	}
	ion-popover-view.credit-pop-view {
    	//height: 60% !important;
	height: 70% !important;
	}
	ion-popover-view.instruct-pop-view {
    		height: 50% !important;
	}
ion-popover-view.review-slide
{
    		height: 60% !important;
}
	.survay-head button.button {
    		padding-top: 0%;
	}
	.survay-head a img {
	    margin-top: -2%;
	}
	.bar.survay-head h1 {
		padding-top: 5%;
	}
	.character-slider .slider {
    	margin-top: 35%;
	}
	.character {
    	top: 75%;
	}
	.character-div {
    	top: 85px;
	}
	.character_div {
    	top: 35%;
	}
	.character-div-even {
    	top: 45%;
	}
	.character-div-odd {
    		top: 25%;
	}
	.character-img , .Character {
    	margin-top: 15%;
	}
	.owl-even {
    	margin-top: 6%;
	}
	.survay-center-first {
    	padding: 24% 50% 0 3%;
	}
	.survay-center-even {
    	padding: 30% 2% 0% 50%;
	}
	.survay-center-last {
    	padding: 21% 50% 0 2%;
	}
	.character-img-even {
    		margin-top: 28%;
	}
	.owl-odd {
    	margin-top: 10%;
	}
	.survay-center-odd {
    	padding: 18% 50% 0% 2%;
	}
	.character-img-odd {
    	margin-top: 37%;
	}
	.character-img-last {
    	margin-top: 43%;
	}
	.congratulations-center {
    	margin-bottom: 10%;
    	margin-top: 40%;
	}
	.congratulations-botom {
    	margin-bottom: 5%;
	}
	.introsur-center {
    	padding: 90% 10% 20%;
	}
	.insure-callout.callout.bottom:before {
    	top: -43%;
	}
	.survay-form label {
    	padding: 2.5% 0 2.5% 4%;
	}
.background-3 .character-div-odd , .background-5 .character-div-odd {
    top: 12%;
}
.background-4 .character-div-even {
    top: 39%;
}
.background-7 .character-img-odd , .background-9 .character-img-odd {
    margin-top: 27%;
}
.background-8 .character-div-even {
    top: 56%;
}
.background-10 .character-img-even {
    margin-top: 22%;
}
.background-11 .character-div-odd {
    top: 2%;
}
.bar.survay-head {
    height: 7%;
    margin: 2% 0px;
}
}

/* Android */

/* Galaxy S3 */

@media screen and (device-width: 360px) and (device-height: 592px) {
	.character-slider .slider {
    	margin-top: 20%;
	}
	.character {
    	top: 75%;
	}
	.introsur-center {
    	padding: 75% 10% 0;
	}

	.insure-callout.callout.bottom::before {
    	top: -40%;
	}
	ion-popover-view.credit-pop-view {
    	height: 70% !important;
	}
	ion-popover-view.credit-pop-view button img {
		height: 60px;
	}
	ion-popover-view.credit-pop-view button.button {
		max-height: 100px;
	}
	ion-popover-view.instruct-pop-view {
    	height: 55% !important;
	}
	.survay-center-odd {
    	padding: 17% 50% 0 2%;
	}
	.survay-center-even{
		padding: 25% 2% 0 50%;
	}
	.owl-odd {
    	margin-top: 5%;
	}
	.character-img {
    	margin-top: 14%;
	}
	.character-img-odd {
		margin-top: 30%;
	}
	.survay-center-first {
		padding: 20% 50% 0 3%;
	}
	.survay-center-last {
		padding: 20% 50% 0 2%;
	}
	.character-div-even {
		top: 35%;
	}
	.character-div-odd {
		top: 18%;
	}
	.character_div {
    	top: 25%;
	}
	.character-div {
    	top: 8%;
	}
	.character-img-even {
    	margin-top: 35%;
	}
	.character-img-last {
    	margin-top: 34%;
	}
	.bar.survay-footer a {
    	padding-right: 6px;
	}
	.background-2 .character-div-even {
    	top: 10%;
	}
	.background-3 .character-div-odd {
    	top: 0;
	}
	.background-4 .character-div-even {
    	top: 32%;
	}
	.background-5 .character-div-odd {
    	top: 4%;
	}
	.background-7 .character-div-odd {
    	top: 16%;
	}
	.background-8 .character-div-even {
    	top: 48%;
	}
	.background-7 .survay-center-odd {
    	padding: 17% 50% 0 2%;
	}
	.background-9 .character-div-odd {
    	top: 6%;
	}
	.background-4 .character-img-even {
		margin-top: 30%;
	}
	.background-6 .character-img-even {
    	margin-top: 30%;
	}
	.background-7 .character-img-odd {
    	margin-top: 28%;
	}
	.background-8 .character-img-even {
    	margin-top: 28%;
	}
	.background-9 .owl-odd {
    	margin-top: 12%;
	}
	.background-9 .character-img-odd {
    	margin-top: 23%;
	}
	.background-10 .survay-center-even {
    	padding: 32% 2% 0 50%;
	}
	.background-10 .character-img-even {
    	margin-top: 22%;
	}
	.background-11 .character-img-odd {
    	margin-top: 24%;
	}
}

/* Nokia X */

@media screen and (device-width: 480px) and (device-height: 800px) {
	.intro-center {
		padding: 25% 13%;
	}
	.intro-center > div {
		//font-size: 24px;
	}
	.character-slider .slider {
		margin-top: 35%;
	}
	.character {
		top: 75%;
	}
	.insure-callout.callout.bottom::before {
		top: -50%;
	}
	.surbef .callout.bottom::before {
		top: -151%;
	}
	.survay-contetn {
    	margin-top: 30%;
	}
	.character-img {
		margin-top: 17%;
	}
	.character-img-even {
		margin-top: 39%;
	}
	.character-img-odd {
		margin-top: 30%;
	}
	.character-img-last {
		margin-top: 36%;
	}
}

@media screen and (device-width: 540px) and (device-height: 960px){

}

@media screen and (device-width: 720px) and (device-height: 1280px) {

	.character-div-odd {
		top: 23%;
	}
	.character-div-even {
		top: 32%;
	}

}
@media screen and (device-width: 768px) and (device-height: 1024px) {
	.intro-center {
    	margin-top: 23%;
	}
	.character-slider .slider {
    	margin-top: 35%;
	}
	.character {
    	top: 75%;
	}
	.introsur-center {
    	padding: 85% 10% 20%;
	}
}


@media screen and (device-width: 360px) and (device-height: 640px) {
	.intro-center {
    	margin-top: 23%;
	}
	.intro-center > div {
		font-size: 21px;
	}
	.character-slider .slider {
    	margin-top: 35%;
	}
	.character {
    	top: 75%;
	}
	.introsur-center {
    	padding: 75% 10% 0;
	}

	.insure-callout.callout.bottom::before {
    	top: -38%;
	}
	ion-popover-view.credit-pop-view {
    	height: 65% !important;
	}
	.introsur-center-odd {
    	padding: 46% 51% 0 2%;
	}
	.survay-center-odd {
    	padding: 17% 50% 0 2%;
	}
	.survay-center-even{
		padding: 25% 2% 0 50%;
	}
	.owl-odd {
    	margin-top: 5%;
	}
	.character-img {
    	margin-top: 14%;
	}
	.character-img-odd {
    	margin-top: 35%;
	}
	.survay-center-first {
    	padding: 20% 50% 0 3%;
	}
	.survay-center-last {
    	padding: 20% 50% 0 2%;
	}
	.character-div-even {
    	top: 50%;
	}
	.character-div-odd {
    	top: 18%;
	}
	.character_div {
    	top: 52%;
	}
	.character-div {
    	top: 8%;
	}
	.character-img-even {
    	margin-top: 35%;
	}
	.character-img-last {
    	margin-top: 44%;
	}
	.bar.survay-footer a {
    	padding-right: 6px;
	}
	.background-2 .character-div-even {
    	top: 60%;
	}
	.background-5 .character-div-odd {
    	top: 31%;
	}
	.background-7 .character-div-odd {
    	top: 25%;
	}
	.background-8 .character-div-even {
    	top: 55%;
	}
	.background-7 .survay-center-odd {
    	padding: 25% 50% 0 2%;
	}
	.background-7 .character-img-odd {
    	margin-top: 30%;
	}
	.background-9 .owl-odd {
    	margin-top: 12%;
	}
	.background-9 .character-img-odd {
    	margin-top: 28%;
	}
	.background-10 .survay-center-even {
    	padding: 32% 2% 0 50%;
	}
	.background-10 .character-img-even {
    	margin-top: 26%;
	}
}

@media screen and (device-width: 320px) and (device-height: 534px) {

}
@media screen and (device-width: 240px) and (device-height: 320px) {

}
