/* Empty. Add your own CSS if you like */


/*  
1 : General 
2 : Intro 
3 : Credits
4 : Character
5 : introsur
6 : Survay
7 : Congratulations
8 : Review

*/


/* 1 : General Changes */

.text-center {
    text-align: center;
}

.bar.bar-light.bar-footer {
    background: none;
    border:none;
}
.button.button-light.active, .button.button-light.activated {
  background:none;
  border:none;
  box-shadow: none;
}
.button.button-light{
    background: none ;
    border: none;
}
.button.button-light img {
width: 100%;
}

.background{
	background-size: 100% 100%; 
}
ion-view.background{
	background-color: #4C8AC8;
}
.popup-container {
	 background-color: rgba(0, 0, 0, 0.9);
}

.popup-container .popup{
	border-radius: 10px;
	background-color: #fff;
}

.col-offset-58
{
	margin-left: 58%;
}

.col-offset-3 {
    left: 5%;
}
.col-offset-7 
{
     margin-left: 7%;
}
.margin-left-10{
	margin-left: 10px;
}
.col-onset-8 {
    margin-right: 8%;
}

div.callout {
	position: relative;
	min-height: 50px;
}

.callout:before {
    border: 0.8em solid transparent;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}
.callout-rotate:before {
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg); 
    -moz-transform: rotate(25deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
}
.callout.top::before {
	left: 45%;
	bottom: -20px;
	border-top: 10px solid #FFF;
}

.callout.bottom:before {
    border-bottom: 70px solid #fff;
    left: 38%;
    top: -104%;

}

.callout.left:before {
    border-left: 30px solid #fff;
    right: -40px;
    top: 20%;
}

.callout.right:before {
    border-right: 30px solid #fff;
    left: -41px;
    top: 22%;
}

.callout.top-left::before {
	left: 7px;
	bottom: -20px;
	border-top: 10px solid #FFF;
}

.callout.top-right::before {
	right: 7px;
	bottom: -20px;
	border-top: 10px solid #FFF;
}


/* 2 : Intro */

.background-intro {
    background-image: url('../img/background/background-screen1.png');
}

.popover-backdrop.active {
    background-color: rgba(0, 0, 0, 0.9)  !important;
}

.intro-title {
    padding: 10% 10px 15%
}
.intro-center {
    padding: 7% 13%
}
.intro-center > div {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    //font-size: 22px;
    line-height: 1.3;
    padding: 16px;
    /*text-align: justify;*/
}

/* 3: Credits */
/*.background-credits {
    background-image: url('../img/background/background-screen3-intro.png');
}
*/
ion-popover-view.credit-pop-view {
    left: 5% !important;
    width: 90% !important;
    background-color: #fff !important;
    height: 80% !important;
}
        ion-popover-view.credit-pop-view button img {
                height: 60px;
        }
        ion-popover-view.credit-pop-view button.button {
                max-height: 100px;
        }

.credit-header {
   /* height: 10%;*/
padding-top:0;
}
.credit-header img {
margin-top : 5%;
height : 50px;
}
.credit-pop-view .has-header {
    font-size: 19px;
    line-height: 1;
    top: 15%;
}

.credit-img {
    padding: 0;
}
.credit-dys {
    //height: 75px;
	height:100%;
}
.credit-mind {
    //height: 100px;
	height:100%;
}
.credit-back-button {
height: 45px;
}
/* 4 : Character */

.background-character {
    background-image: url('../img/background/background-screen2-pickcharacter.png');
}

.slider-slide {
  text-align: center;
}

.character-slider .slider .slider-slide img {
	/*height: 200px;*/
}

/*
#character-raccoon {
    padding: 10% 0 0;
}

#character-squirrel {
    padding: 15% 0 0;
}


.slider-slide img {
  width: 100%;
  }
  */
.character {
  position: absolute;
    top: 68%;
    width: 0;
}
.character img {
    width: 77%;
    z-index: 10000000;
}
.character.left {
    left: 0;
}
.character.right {
    right: 0;
}

h1.character-title {
    padding-top: 25%;
}


/* 5 : introsur */
.background-introsur {
    background-image: url('../img/background/background-screen3-intro.png');
}

.introsur-center {
    padding: 75% 30px 20%
}

.introsur-center > div {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    //font-size: 20px; 
    font-size: 14px;
    padding: 15px;
    /*text-align: justify;*/
}

.bar.bar-footer.bar-light.padding {
    margin-bottom: 10%;
}
.insure-callout.callout.bottom:before {
    border-bottom: 70px solid #fff;
    left: 38%;
    top: -48%;
}

.instruct-header {
    height: 20%;
}
.instruct-pop-view .has-header {
    margin-top: 10%;
}
ion-popover-view.instruct-pop-view {
	left: 5% !important;
}

/* 6 : Survay */

.survay-contetn {
    height: 73%;
    margin-top: 20%;
}


.background-survay {
    /*background-image: url('../img/background/background-screen5-endingscreen.png');*/
background-color: #4C8AC8;
}
.background-survay-initial {
    background-image: url('../img/background/background-screen4-gamequestion.png');
}

.character-chicken {
	background-image: url('../img/character/character-chicken.png');
}
.character-raccoon {
	background-image: url('../img/character/character-raccoon.png');
}
.character-squirrel {
	background-image: url('../img/character/character-squirrel.png');
}
.character-owl {
	background-image: url('../img/character/owl.png');
}

.survay-center > div {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    padding: 15px;
    /*text-align: center;*/
}

.Character {
    height: 110px;
}
.character-img {
    margin-top: 15%;
}

.character-img-odd {
   margin-top: 35%;
}
.character-img-even {
   margin-left: 56%;
margin-top: 35%;
}
.character-img-last {
    margin-left: 11%;
    margin-top: 22%;
}

.owl{

}
.owl-odd{
    margin-top: 8%;
}
.owl-even{
    margin-top: -4%;
}
.owl-last{
    margin-top: 3%;
}

.character-div {
    position: absolute;
    top: 24%;
}
.character-div-last {
    position: absolute;
    top: 17%;
}
.character-div-even {
    position: absolute;
    top: 80%;
}
.character-div-odd {
    position: absolute;
    top: 25%;
}
.character_div {
	position: absolute;
    top: 50%;
}
.bar.survay-head {
    background-color: transparent;
    border-color: transparent;
    border-bottom-width: 0;
    border: medium none;
    color: #fff;
    height: 10%;
    margin: 3% 0;
}

.bar.bar-light.survay-head h1 {
    color: #FFF;
}
.bar.survay-head h1 {
    font-size: 17px;
    font-weight: 500;
    height: auto;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 0;
    color: #FFF;
    padding-top: 10%;
}

.survay-form label {
    background-color: transparent;
    background-image: url("../img/buttons/button-gamescreen-field.png");
    background-size: 100% 100%;
    border: 0 none;
/*    padding: 1% 0 1px;*/
}
.survay-footer{
	height: 12%;
}
.bar.survay-footer a {
	/*
    margin-bottom: 3px;
    margin-top: -1px;
    padding-left: 0;
    padding-right: 0;
*/
	padding: 0;
}

.survay-footer img , .bar.survay-footer form{
	padding-left: 0;
    padding-right: 0;
}
.bar.survay-footer form{
	border : none;
}
/*
.survay-footer input {
    padding-left: 10%;
    padding-right: 0;
}
*/
.survay-full-tree{
	height: 114%;
}
.survay-full-treeq{
	height: 100%;
}
.survay-full-tree {
    background-repeat: no-repeat;
    background-size: 100% 453%;
/*    transition: all 1750ms cubic-bezier(0.250, 0.250, 0.750, 0.750);*/
}
.main-survay{
    background-position: 53% 108%;
    background-repeat: no-repeat;
    background-size: 100% 286%;
}

.main-survay-2 {
    background-position: 53% 83%;
}
.main-survay-3 {
    background-position: 53% 74.5%;
}
.main-survay-4 {
    background-position: 53% 62.5%;
}
.main-survay-5 {
    background-position: 53% 54.5%;
}
.main-survay-6 {
    background-position: 53% 43.0%;
}
.main-survay-7 {
    background-position: 53% 35.5%;
}
.main-survay-8 {
    background-position: 53% 23.5%;
}
.main-survay-9 {
    background-position: 53% 17.0%;
}
.main-survay-10 {
    background-position: 53% 6.5%;
}
.main-last {
    background-position: 53% -10.5%;
    background-repeat: no-repeat;
    background-size: 100% 325%;
}
/*
.main-survay , .main-even , .main-odd, .main-last {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
*/

.main-survay {
    background-image: url("../img/background/full_tree_high.png");
}
.main-even {
    background-image: url("../img/background/full_tree_high.png");
}
.main-odd {
    background-image: url("../img/background/full_tree_high.png");
}
.main-last {
    background-image: url("../img/background/full_tree_high.png");
}
/*
.main-survay {
    background-image: url("../img/background/ques1.png");
}
.main-even {
    background-image: url("../img/background/ques_even.png");
}
.main-odd {
    background-image: url("../img/background/ques_odd.png");
}
.main-last {
    background-image: url("../img/background/ques_last.png");
    background-position: 0 100%;
    background-size: 100% 90%;
}
*/
.survay-center-first {
    padding: 13% 50% 0 3%;
}
.survay-center-odd {
    padding: 3% 50% 0 3%;
}
.survay-center-even {
    padding: 12% 2% 0% 50%;
}
.survay-center-last {
    padding: 5% 50% 0 2%;
}

.survay-footer .button.disabled, .survay-footer .button[disabled] {
    opacity: 1;
}

/* 7 : Congratulations */

.endingscreen-chicken {
	background-image: url('../img/background/background-screen5-endingscreen-chicken.png');
}
.endingscreen-raccoon {
	background-image: url('../img/background/background-screen5-endingscreen-raccoon.png');
}
.endingscreen-squirrel {
	background-image: url('../img/background/background-screen5-endingscreen-squirrel.png');
}
.congratulations-title {
    padding: 7% 10px 10%;
}

.congratulations-center {
 	margin-bottom: 4%;
    margin-top: 30%;
}
.congratulations-center > div , .congratulations-botom  > div {
    padding: 3% 8% 3%;
    background-color: #fff;
    border-radius: 10px;
}
.congratulations-botom {
    
}
.congratulations-botom  > div {
    background-color: #fff;
    border-radius: 10px;	
}

.bar-footer .a-button {
//line-height: 26px !important;
}
/* 8 : Review */

.review-footer{
 min-height: 85px;
}

.bar.review-footer > button{
	max-height: 100%;
}
h2.review-text {
    border-bottom: 1px solid #000;
}
ion-popover-view.review-slide
{
	height: 70% !important;
}
ion-popover-view .review-footer button img {
height: 50px;
}
ion-popover-view .review-footer button.button {
	max-height: 100px;
}
