<ion-view class="background background-character">
  <ion-content>
    <h1 class="text-center padding character-title"><img class="col col-80 col-offset-10" src="./img/text/pickcharacter.png"></h1>
    <div class="character-slider">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" active-slide="ActiveSlide">
      <ion-slide>
        <img src="./img/character/character-chicken.png" class="col col-center col-50 col-offset-25">
      </ion-slide>
      <ion-slide >
        <img id="character-raccoon" src="./img/character/character-raccoon.png" class="col col-center col-50 col-offset-25">
      </ion-slide>
      <ion-slide>
        <img id="character-squirrel" src="./img/character/character-squirrel.png" class="col col-center col-50 col-offset-25">
      </ion-slide>
    </ion-slide-box>
    </div>
    <div class="row row-center">
      <button class="button button-clear character left" ng-click="previous()" ng-show="slideIndex>1"><img src="./img/icons/icon-leftarrow.png"></button>
      <button class="button button-clear character right" ng-click="next()" ng-show="slideIndex!=3"><img src="./img/icons/icon-rightarrow.png"></button>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-light padding">
    <a class="button button-light col col-50 col-offset-25" href="#/app/introsur">
      <img src="./img/buttons/button-continue.png">
    </a>
  </div>
</ion-view>