<ion-view class="background background-congratulations" ng-class="congratulations">
  <ion-content>
    <h1 class="congratulations-title text-center"><img class="col col-80 col-offset-10" src="./img/text/congrats.png"></h1>
    <div class="row row-center congratulations-center">
      <div class="col text-center col-80 col-offset-10">     
        You’ve really thought it through. Come back next time! For info visit <a style="color: red;" ng-click="openLinkDYS()">Skylark Children, Youth & Families</a> or <a style="color: red;" ng-click="openLink()">mindyourmind.ca</a>
      </div>
    </div>
    <div class="row row-center congratulations-botom"> 
      <div class="col text-center col-80 col-offset-10"> Tell us what you think and win a prize!</div>
    </div>
    <div class="row row-bottom congratulations-survay padding">
      <div class="col">
        <button class="button button-light col col-90 col-offset-3" ng-click="openLinkComp()">
          <img src="./img/buttons/button-survey.png">
        </button>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-light">
    <div class="row row-bottom">
      <div class="col margin-left-10">
        <button ng-click="openPopover($event)" class="button button-light col col-90">
          <img src="./img/buttons/button-review.png">
        </button>
      </div>
      <div class="col">
        <a class="button button-light col col-90 a-button" href="#/app/intro">
         <img src="./img/buttons/button-playagain.png">
        </a>
      </div>
    </div>
  </div>
</ion-view>
