<ion-popover-view backdropClickToClose="false" hardwareBackButtonClose="false" style="left:5% !important; " class="credit-pop-view col col-90">
  <ion-header-bar class="credit-header bar-clear">
    <img src="./img/text/credits-module.png" class="col col-80 col-offset-10">
  </ion-header-bar>
  <ion-content>
    <div class="padding">
      Thanks to the six youth participants of the Sessions group at Skylark Children, Youth & Families for contributing to the development of this tool.
    </div>
    <a style="color: red;" ng-click="openLinkDYS()"><img src="img/credit/skylark.png" class="col col-33 col-offset-33 credit-img credit-dys"></a>
    <a style="color: red;" ng-click="openLink()"><img src="img/credit/mindyourmind.jpg" class="col col-33 col-offset-33 credit-img credit-mind"></a>
        <button ng-click="closePopover()" class="button button-clear col col-80 col-offset-10">
          <img src="./img/buttons/button-module-back.png" class="col button-back" >
        </button>
  </ion-content>
</ion-popover-view>
