  <ion-popover-view style="width: 90%; }};" class="instruct-pop-view">
    <ion-header-bar class="instruct-header bar-clear">
      <img src="./img/text/text-instructions-module.png" class="col col-80 col-offset-10">
    </ion-header-bar>
    <ion-content>
    	<div class="padding">
Answer Cal’s questions and climb the tree.  
You can skip questions. Your answers won’t be saved in the game or seen by anyone else.


          <br/><br/>Once you reach Cal, you can keep your answers if you want to check them later. Have fun and <b>Be Wise! </b>
      	</div>
	<div class="row row-bottom">
  		<div class="col">
  			<button ng-click="closePopover()" class="button button-light col col-50 col-offset-25">
  				<img src="./img/buttons/button-module-back.png">
			</button>
		</div>
	</div>
    </ion-content>
  </ion-popover-view>
