<ion-view class="background background-introsur">
  <ion-content>

<div class="row row-center introsur-center">
  <div class="col text-center insure-callout callout callout-rotate bottom"> Hi my name is Cal the wise young owl. I know how wise young people are so I'm here to help you make drug choices that work for you!
<br/>I will ask you some questions to help you think about your drug use. I won’t tell you what to do, that decision is up to you!
</div>

</div>
  </ion-content>
  <div class="bar bar-footer bar-light padding">
        <a class="button button-light col col-50 col-offset-25" href="#/app/suvybef">
          <img src="./img/buttons/button-continue.png">
        </a>
  </div>
</ion-view>
