<ion-view class="background background-intro">
  <ion-content>
    <h1 class="intro-title text-center"><img class="col col-80 col-offset-10" src="./img/text/getting-high.png"></h1>

<div class="row row-center intro-center">
  <div class="col text-center">Cal is not a real owl. No owls were harmed in the making of this app. Cal will not be held responsible if you fall out of the tree. <br/>This app is NOT intended as medical advice.
</div>

</div>


  </ion-content>
  <div class="bar bar-footer bar-light padding">
      <div class="col col-offset-7 ">
        <button ng-click="openPopover($event)" class="button button-light col">
          <img src="./img/buttons/button-credits.png">
        </button>
      </div>
      <div class="col col-onset-8">
        <a class="button button-light col" href="#/app/character">
          <img src="./img/buttons/button-continue.png">
        </a>
      </div>
  </div>
</ion-view>
