<ion-view view-title="Playlists">
<ion-content>
	<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
		<ion-item ng-repeat="item in items" item="item" href="#/item/{{item.id}}" class="item-remove-animate">
			Item {{ item.id }}
		<ion-delete-button class="ion-minus-circled"  ng-click="onItemDelete(item)"></ion-delete-button>
		<ion-option-button class="button-assertive" ng-click="edit(item)">
			Edit
		</ion-option-button>
		<ion-option-button class="button-calm" ng-click="share(item)">
			Share
		</ion-option-button>
		<ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
	</ion-item>
	</ion-list>
	<ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()"> </ion-infinite-scroll>
	<!--ion-infinite-scroll on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll-->
</ion-content>
</ion-view>