<ion-popover-view backdropClickToClose="false" hardwareBackButtonClose="false" style=" width: 95%; }};" class="review-slide">
  <ion-header-bar>
    <!--button class="button button-clear pull-left" href="#/app/survay/{{itemnext}}"><i class="icon ion-ios-upload"></i></button-->
    <button class="button button-clear pull-left col col-10" ng-click="shareViaEmail()"><img style="padding: 0px;" src="./img/icons/icons-upload.png" class="col"></button>
    <h1 class="title">Question {{slideIndex}} of {{items.length}}</h1>
    <button ng-click="closePopover()" class="button button-clear col col-10"><img style="padding: 0px;" src="./img/icons/icons-exit.png" class="col"></button>
  </ion-header-bar>
  <ion-content>
    <style type="text/css">
      .review-slide .slider {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        margin-top : 0;
      }
      .button.ng-hide{
        display:none;
      }
      .review-slide .card, .review-slide .scroll{
        height: 100%;
        margin-top: 0;
        min-height: 100%;
      }
    </style>
      <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false"  disable-scroll="true">
        <ion-slide ng-repeat="product in products">
          <ion-content>
            <div class="item item-text-wrap">
              <h2 class="title text-left review-text padding">Question</h2>
              <div class="text-left padding">{{product.question }}</div>
              <h2 class="title text-left review-text padding">Answer</h2>
              <div  class="text-left padding">{{product.answer }}</div>
            </div>
          </ion-content>
        </ion-slide>
      </ion-slide-box>
    </ion-content>
      <div class="bar bar-footer bar-light review-footer">
        <button class="button button-positive button-clear no-animation col col-50" ng-click="previous()" ng-show="slideIndex>1"> 
          <img class="col" src="./img/buttons/button-module1-previous.png"> 
        </button>
        <button class="button button-positive button-clear no-animation col col-50" ng-click="next()" ng-show="slideIndex!={{items.length}}">
          <img class="col" src="./img/buttons/button-module1-next.png">
        </button>
</div>
            
</ion-popover-view>
