<ion-view class="background" ng-class="background">
	<div class="bar bar-header bar-clear survay-head ">
		<a class="button button-clear col col-20" href="#/app/survay/{{itemnext}}" nav-transition="none" ><img src="./img/buttons/button-gamescreen-skip.png" class="col"></a>
		<h1 class="col col-67 col-center">Question {{item.id}} of {{items.length}}</h1>
		<button class="button button-clear col col-10" ng-click="showConfirm()"><img src="./img/icons/icons-exit.png" class="col"></button>
	</div>
	<ion-content class="survay-contetn">
		<div class="row row-center survay-center " ng-class="question" >
			<div class="col text-center callout" ng-class="callout"> 
				{{ item.question}}
			</div>
		</div>
		<div ng-class="character_div" class="view-animate" ng-view >
			<img ng-class="character_owl" src="./img/character/owl.png" class="col col-33">
			<div ng-class="character" class="Character background col col-33" ></div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-light padding survay-footer item-input-inset">
		<form name="myForm" class="survay-form col col-75">
			<label class="item item-input ">
				<input type="text" name="input" ng-model="formData.answer" ng-blur="doneEdit()"> 
			</label>
		</form>
		<a class="button button-light col col-25" data-transition="slidedown"  href="#/app/survay/{{itemnext}}" nav-transition="none" ng-disabled="isThisDisabled()" >
			<img class="col" src="./img/buttons/button-gamescreen-button.png">
		</a>
	</div>
	<div ng-class="class" class="col" id="survay-full-tree"> </div>
</ion-view>
