<ion-view class="background background-introsur">
  <ion-content>
    <div class="row row-center introsur-center surbef">
      <div class="col text-center callout callout-rotate bottom"> 
        Follow along with me and I'll take you up the tree.
      </div>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-light padding">
      <div class="col margin-left-10">
        <button ng-click="openPopover($event)" class="button button-light col col-90"><img src="./img/buttons/button-instructions.png"></button>
      </div>
      <div class="col">
        <a class="button button-light col col-90" href="#/app/survay/1"><img src="./img/buttons/button-start.png"></a>
      </div>
    </div>
</ion-view>
